.gridStyle {
  padding: 0 !important;
  padding-left: 20px !important;
  width: 73% !important;
  text-align: left !important;
  box-shadow: none !important;
  position: static !important;
}
.genres {
  margin-right: 8px;
}
.card {
  width: 45vw;
  height: 281px;
  border-radius: 0;
  margin-left: 36px;
  margin-top: 36px;
  box-shadow: 0px 4px 12px 0px #00000026;
}
.image {
  width: 183px !important;
  height: 281px !important;
}
.placeholder {
  height: 250px;
  margin: 24px;
}
.row {
  margin-top: 12px;
}
.title {
  white-space: nowrap;
  margin: 0;
}
.rated {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  text-align: center;
  line-height: 3;
}
